<div class="container">
  <!-- <app-menu></app-menu> -->
  <div class="row">
    <!-- <p>Hola Mundo¡¡¡</p>
    <div>
      <h1>IDGS 902</h1>
    </div>
    <div>
      {{title}}
    </div>
    <div>
      La suma de 2+2 es: {{2+2}}
    </div>
    <div >EL doble de 3 es: {{duplicaN(3)}}</div>
    <hr>
    <div>
      <b>Matricula:</b>{{alumno.matricula}}
    </div>
    <div>
      <b>Apellido Paterno:</b>{{alumno.apaterno | uppercase}}
    </div>
    <div>
      <b>Nombre:</b>{{alumno.nombre| lowercase}}
    </div>
    <div>
      <b>Inscrito?:</b>{{alumno.Inscritro  | currency}}
    </div>
    <div>
      <b>Fecha: </b>{{alumno.fechaNacimiento | date:'dd-MM-yyyy'}}
    </div>
    <hr>
    <app-grupos></app-grupos>
    <hr>
    <app-alumnos></app-alumnos>
    <hr>
    <app-idgs></app-idgs>
    <hr> -->
    <!-- <app-iric></app-iric> -->
    <!-- <app-suma></app-suma>
    <app-operas-bas></app-operas-bas> -->
    <!-- <h1 style="text-align: center;" class="my-2">Distancia entre 2 puntos</h1> -->
    <h2 style="text-align: center;">Distancia entre dos puntos</h2>
    <app-cdistancias></app-cdistancias>
    <hr>  
    <app-c-resistencias></app-c-resistencias>
<hr>
<!-- <app-c-resistencias></app-c-resistencias> -->
<hr>
<div id="divcinepolis">
<app-ccinepolis></app-ccinepolis>
</div>

  </div>
</div>
