.container{
display: flex;
background-image: url("https://brandemia.org/contenido/subidas/2019/07/logo-cinepolis.jpg");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
height: 100vh;
width: 100%;

}
h2{
    color: white;
    font-weight: bold;
}
h4 {
    color: white;
    font-weight: bold;
}
label {
    color: white;
    font-weight: bold;
}


#section1{
float: left;
border: 2px solid white;
padding: 10px;
position: relative;
}


#section2 {
    float: right;
    border: 2px solid white;
    padding: 6px;
    position: relative;
}

#section3 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 50%;
    text-align: center;
    border: 2px solid white;
    padding: 10px;
}